* {
    margin: 0;
    padding: 0;
}

/* nav bar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(170, 218, 237);
}

 .navbar ul {
    list-style: none;
    display: flex;
    margin: 20px 0;
 }

  .navbar ul li {
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-family: sans-serif;
  }

 .navbar ul li a {
     text-decoration: none;
     padding: 20px;
     color: rgba(255, 0, 64, 0.952);
 }

  .navbar ul li a:hover {
      background-color: rebeccapurple;
  }

  /* homepage styling */
 .HOME {
     display: flex;
     justify-content: center;
     align-items: center;
     color: rgb(255, 255, 255);
     background-color: rgb(170, 218, 237);
     height: 800px;
 }

 .HOME img {
     width: 100%;
     margin: 80px;
 }
.HOME h1 {
     text-align: center;
     margin: 0 0;
     position: absolute;
     top: 35vh;
     color: rgb(242, 147, 6);
     font-size: 80px;
     font-style: italic;
 }
 .about {
     display: flex;
     padding: 80px;
     flex-direction: column;
     background-color: rgb(170, 218, 237);
    
 }
 .image {
     display: flex;
 }
 .image img {
     height: 350px;
     width: 400px;
 }
 .ab-heading {
     display: flex;
     text-align: justify;
     padding: 25px;
     flex-direction: column;
 }
 .ab-heading h1 {
     display: flex;
     flex-direction: column;
     text-align: center;
 }
 .services h1{
    margin: 2%;
 }
 .services h2 {
     margin: 2%;
     font-size: 30px;
     font-style: italic;
 }